h1{
    text-align: center;
  }
  
.area{
  text-align: right;
  font-style: Impact;
  margin-top: 10;
}

a{
  color: black;
}

a:visited{
  color: black;
}

a:hover{
  color: brown;
}

a:active{
  color: brown;
}